@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1,
  h2,
  h3 {
    @apply text-dark;
  }

  h1 {
    @apply font-figtree text-3xl;
  }
  p {
    @apply font-figtree text-lg;
  }
}

/**--Multi Step-

#multi-step ul li {
  position: relative;
}

#multi-step ul li:after {
  content: '';
  background-color: #e8e8ed;
  width: 100px;
  height: 2px;
  display: block;
}

#multi-step ul li:last-child:after {
  display: none;
}
-**/
