@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1,
  h2,
  h3 {
    @apply text-dark leading-5;
  }

  h1 {
    @apply font-figtree text-3xl font-medium leading-9;
  }
  p {
    @apply font-figtree text-base lg:text-lg text-light font-normal;
  }
}

/**--Multi Step--**/
@media (max-width: 1024px) {
  #multi-step {
    background-image: url(./assets/setup-chatbot/multi-steps-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
