@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1,
  h2,
  h3 {
    @apply text-dark leading-5;
  }

  h1 {
    @apply font-figtree text-3xl font-medium leading-9;
  }
  p {
    @apply font-figtree text-base lg:text-lg text-light font-normal;
  }
}

/**--Multi Step--**/

@media (max-width: 1024px) {
  #multi-step {
    background-image: url(./assets/setup-chatbot/multi-steps-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

/**--First Step Column Width on Laptop Device--**/

@media (min-width: 1024px) and (max-width: 1220px) {
  #step-column > div#content-column {
    width: 90%;
  }
}

@media (min-width: 1221px) and (max-width: 1550px) {
  #step-column > div#content-column {
    width: 80%;
  }
}

@media (min-width: 1025px) {
  #tabs > ul li img {
    max-width: 20px;
    height: 20px;
  }
}

/**--Multi Step Divider

#multi-step ul {
  position: relative;
}

#multi-step ul:after {
  content: '';
  background-color: red;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0%;
}

#multi-step ul li {
  background-color: #fff;
  z-index: 1;
}

-**/

/**--Multi Step Divider

#multi-step ul li > div {
  position: relative;
}

#multi-step ul li > div:after {
  content: '';
  background-color: red;
  width: 60px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 28%;
}
-**/

@media (max-width: 1024px) {
  #multi-step {
    background-image: url(./assets/setup-chatbot/multi-steps-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
